/* FONTS + TYPOGRAPHY */

@font-face {
    font-family: "Spectral";
    src: url("../fonts/Spectral-EL.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-I.woff2") format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-SB.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spectral/v13/rnCs-xNNww_2s0amA9vmtm3PafaPWnIIMrY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-SBI.woff2") format('woff2');
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Work Sans';
    src: url("../foonts/WorkSans.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

:root {
    --green: #058530;
    --pink: #FDC4EA;
    --blue: #1639E9;
    --white: #FEFBFD;
    --black: #080206;
}
::selection {
    color: var(--pink);
    text-shadow: 0 0 5px var(--pink);
}
* {
  box-sizing:border-box;
}
body {
    background-color:var(--white);
    font-family:'Spectral', Times, serif;
    text-rendering: optimizeLegibility;
    /* font-size: 16px; */
    color:var(--black);
}
a {
    color: var(--black);
    opacity: 0.7;
}
a:hover {
    color: var(--blue);
    opacity: 0.9;
}

/* todo: add HEADER in this section */

/* MAIN CONTENT */
main{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
#ind{
  /* margin-top:40px; */
  padding:0.5em;
  display:flex;
  flex-wrap:wrap;
  height:auto;
  counter-reset: boxes counter(boxes)+1;
}
#ind a, #ind .box {
  display: inline-block;
  width:25%;
  height:auto;
  min-height: 150px;
  margin-bottom: 1em;
}
@media only screen and (max-width: 600px){
  #ind a, #ind .box{
    width: 50%;
    min-height:100px;
}}
@media only screen and (min-width:1280px){
  #ind a, #ind .box{
    width: 20%;
}}
@media only screen and (min-width:1600px){
  #ind a, #ind .box{
    width: 16.66%;
  }
}
#ind .box *{
  margin:0;
  padding:0;
}
#ind .box{
  position:relative;
  cursor:default;
}
/* text formatting */
#ind .box h2{
  width:90%;
  padding-right:1em;
  margin-bottom:0.5em;
  font-size:0.95rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}
#ind .box p{
  width:80%;
  margin-top: auto;
  font-size:0.85em;
  opacity:75%;
  line-height:125%;
}
#ind .box a, #ind .box p a{
  display:inline;
  width:auto;
  height:auto;
}

#ind .box[pic] img{
   margin-left:-10%; 
  max-width: 80%;
  max-height:80%;
}

#ind .box:not([info]){
  counter-increment: boxes;
}

#ind .box:not([info])::after{
  position:absolute;
  top: -1px;
  right:8%;
  content:"⊹ "counter(boxes);
  font-size: 0.7rem;
  color: var(--green);
}

/* banner */

  .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* pop up overlay */
.no {           
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 99998; 
    left: 0;
    top: 0;
    background-color: rgb(157, 231, 128); 
    overflow-x: hidden; 
    transition: 0.5s;  
  }
.no-text {
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;           
    width: 50%;
    transform: translate(-50%, -50%);
    color:var(--black);
    z-index: 99999;

} 